.nav {
  width: 100%;
}

.nav .banner {
  margin-top: 10px;
  width: 100%;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  padding: 0 10px;
}

.nav .nav_main {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  padding: 20px 30px 0 30px;
  background: var(--gray_ww);
  border-radius: 20px;
}

.nav .nav_main .resize {
  width: 100%;
  min-height: 410px;
}
.nav .nav_main .rec {
  width: 324px;
}

table .borders {
  border-bottom: 1px solid var(--gray_w);
}
table .nomed {
  padding: 20px 45px 0 0;
}
table,
td {
  padding: 15px 45px 15px 0;
}

table {
  border-collapse: collapse;
  caption-side: bottom;
}
table .images-img {
  width: 30px;
  height: 30px;
}
table img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
table .th-title-flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
table .medium-course {
  font-size: 14px;
  font-weight: 700;
  color: var(--valuta-, rgba(28, 28, 28, 1));
  margin: 0 0 5px 0;
}
table .by-participants {
  font-size: 14px;
  font-weight: 400;
  color: var(--valuta-, rgba(28, 28, 28, 1));
}
table .th-title-flex-git {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 58px;
}
table .last-right {
  display: flex;
  align-items: flex-end;
}
table .th-bay-sell {
  display: flex;
  gap: 65px;
}
table th div p {
  float: left;
  font-size: 12px;
  font-weight: 600;
  color: var(--valuta--, rgba(140, 140, 140, 1));
}
table th p {
  float: left;
  font-size: 12px;
  font-weight: 600;
  color: var(--valuta--, rgba(140, 140, 140, 1));
}
table .th_bay p {
  float: right !important;
}
table .last_s {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
table .last_s p {
  font-size: 18px;
  font-weight: 700;
  color: var(--valuta-, rgba(49, 49, 49, 1));
}
table td div {
  display: flex;
  align-items: center;
  gap: 30px;
}
table td div p {
  width: 50%;
  font-size: 18px;
  font-weight: 700;
  color: var(--valuta-, rgba(49, 49, 49, 1));
}
table td .number.blue {
  width: 50%;
  font-size: 18px;
  font-weight: 700;
  color: var(--valuta-, rgba(24, 86, 205, 1));
  text-decoration: underline;
}

table .first {
  display: flex;
  align-items: center;
  gap: 10px;
}
table .first p {
  font-size: 16px;
  color: var(--valuta--, rgba(140, 140, 140, 1));
  font-weight: 700;
}

table a {
  text-decoration: none;
}

.slick-initialized .slick-slide:focus {
  outline: none !important;
}

@media screen and (max-width: 999px) {
  .nav .nav_main {
    display: grid;
    grid-template-columns: 1fr;
  }
  .nav .nav_main .rec {
    width: 100%;
  }
}

@media screen and (max-width: 740px) {
  table .none-bay {
    display: none;
  }
}

.slick-initialized .slick-slide:focus {
  outline: none !important;
  border: none !important;
  -webkit-transform: none !important;
}

/* ызмывтл */
.nav .best-course {
  display: none;
}
.nav .nav_box_s .images-img {
  width: 35px;
  height: 35px;
}
.nav .nav_box_s .first img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.nav .nav_main .resize {
  width: 100%;
  min-height: 400px;
}
.nav .nav_main .rec {
  width: 324px;
  height: 400px;
}
.nav .slick-dots {
  display: none !important;
}

.nav .nav_main .nav_box {
  margin-bottom: 30px;
}

.nav .last {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav .nav_main .nav_box .title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: var(--black);
  white-space: nowrap;
}
.nav .nav_main .nav_box .best {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: var(--black);
  white-space: nowrap;
}

.nav .nav_main .nav_box .text {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 300;
  color: var(--gray);
}

.nav .nav_main .nav_box .link {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 300;
  color: var(--blue);
}

.nav .buy_sell {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.nav .buy_sell p {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray);
  float: right;
}

.nav .nav_box_s {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}
.buy-sell-one-tewos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  border-bottom: 1px solid rgba(215, 215, 215, 1) !important;
  padding: 16px 0;
}

.nav .first {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav .first .name {
  font-size: 16px;
  font-weight: 600;
  color: var(--gray);
}

.nav .display-flex-git-one {
  display: flex;
  align-items: center;
}
.nav .number {
  font-size: 18px;
  font-weight: 600;
  color: var(--black);
  float: right;
}

.nav .number.blue {
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}

.nav .nav_box_s .last_e {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
}

@media screen and (max-width: 840px) {
  .nav .average-course {
    display: none;
  }
  .nav .link-a {
    text-decoration: none;
  }
  .nav .best-course {
    display: block;
  }
}

@media (max-width: 970px) {
  .nav .nav_main {
    display: grid;
    grid-template-columns: 1fr;
  }
  .nav .nav_main .rec {
    width: 100%;
    height: 400px;
    margin: 20px 0 0 0;
  }
  .nav .last {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav .last_s {
    display: flex;
  }
}

@media (max-width: 640px) {
  .nav .nav_box_s .last_e {
    display: none;
  }
  .nav .last_e {
    display: none;
  }
  .nav .buy_sell {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .nav .nav_box_s {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .nav .nav_main .nav_box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 30px;
  }
  .nav .none_buy_sell {
    display: none;
  }
  .nav .last {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav .span {
    display: none;
  }
  .nav .text {
    display: none;
  }
}

@media (max-width: 480px) {
  .nav .nav_main .nav_box .best {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: var(--valuta-, rgba(24, 86, 205, 1));
    white-space: nowrap;
    margin: 0 auto;
  }
  .nav .nav_main .nav_box .title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: var(--valuta-, rgba(28, 28, 28, 1));
    white-space: nowrap;
    margin: 0 auto;
  }
  .nav .last_one {
    display: flex;
    position: relative;
  }
  .nav .best_line {
    display: flex;
    position: relative;
  }
  .nav .best_line::before {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 50px;
    background: var(--valuta-, rgba(24, 86, 205, 1));
    position: absolute;
    left: 0;
    bottom: -10px;
  }
  .nav .nav_main .nav_box .link {
    display: none;
  }
  .nav .last_bets_one {
    display: none;
  }
  .nav .last_s {
    display: flex;
  }
  .nav .last {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 !important;
  }
}

@media (max-width: 460px) {
  .nav .last_bets {
    display: none;
  }
  .nav .buy_sell {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nav .nav_box_s {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
