.nav {
  width: 100%;
}

.nav .banner {
  margin-top: 10px;
  width: 100%;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  padding: 0 10px;
}

.nav .nav_main {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  padding: 20px 30px;
  background: var(--gray_ww);
  border-radius: 20px;
}

.nav .nav_main .resize {
  width: 100%;
  min-height: 410px;
}
.nav .nav_main .rec {
  width: 324px;
}

table .borders {
  border-bottom: 1px solid var(--gray_w);
}
table .nomed {
  padding: 20px 45px 0 0;
}
table,
td {
  padding: 18px 45px 18px 0;
}

table {
  border-collapse: collapse;
  caption-side: bottom;
}

table img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
table .th-title-flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
table .medium-course {
  font-size: 14px;
  font-weight: 700;
  color: var(--valuta-, rgba(28, 28, 28, 1));
  margin: 0 0 5px 0;
}
table .by-participants {
  font-size: 14px;
  font-weight: 400;
  color: var(--valuta-, rgba(28, 28, 28, 1));
}
table .th-title-flex-git {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 58px;
}
table .last-right {
  display: flex;
  align-items: flex-end;
}
table .th-bay-sell {
  display: flex;
  gap: 65px;
}
table th div p {
  float: left;
  font-size: 12px;
  font-weight: 600;
  color: var(--valuta--, rgba(140, 140, 140, 1));
}
table th p {
  float: left;
  font-size: 12px;
  font-weight: 600;
  color: var(--valuta--, rgba(140, 140, 140, 1));
}
table .th_bay p {
  float: right !important;
}
table .last_s {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
table .last_s p {
  font-size: 18px;
  font-weight: 700;
  color: var(--valuta-, rgba(49, 49, 49, 1));
}
table td div {
  display: flex;
  align-items: center;
  gap: 30px;
}
table td div p {
  width: 50%;
  font-size: 18px;
  font-weight: 700;
  color: var(--valuta-, rgba(49, 49, 49, 1));
}
table td .number.blue {
  width: 50%;
  font-size: 18px;
  font-weight: 700;
  color: var(--valuta-, rgba(24, 86, 205, 1));
  text-decoration: underline;
}

table .first {
  display: flex;
  align-items: center;
  gap: 10px;
}
table .first p {
  font-size: 16px;
  color: var(--valuta--, rgba(140, 140, 140, 1));
  font-weight: 700;
}

table a {
  text-decoration: none;
}

.slick-initialized .slick-slide:focus {
  outline: none !important;
}

@media screen and (max-width: 999px) {
  .nav .nav_main {
    display: grid;
    grid-template-columns: 1fr;
  }
  .nav .nav_main .rec {
    width: 100%;
    margin: 30px 0;
  }
}

@media screen and (max-width: 740px) {
  table .none-bay {
    display: none;
  }
}

.slick-initialized .slick-slide:focus {
  outline: none !important;
  border: none !important;
  -webkit-transform: none !important;
}
